.single-loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.single-loader-content img {
  border-radius: 20px;
  padding: 20px;
  background: #4a4a4a;
  animation: pulse 1.5s infinite; /* Apply pulse animation to the image */
}
