/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container  .pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-container  .page-item {
  margin: 0 5px;
}

.pagination-container  .page-link {
  display: block;
  text-decoration: none;
  color: #000 !important;
  border: 1px solid #9af064 !important;
  border-radius: 50% !important;
  background-color: #9af064 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.pagination-container  .page-link:hover {
  background-color: #000 !important;
  border: none !important;
  border-radius: 50% !important;
  color: #9af064 !important;
   font-weight: bold !important;
}

.pagination-container  .active .page-link {
  background-color: #000 !important;
  border: none !important;
  border-radius: 50% !important;
  color: #9af064 !important;
   font-weight: bold !important;
}
